@media screen and (max-width: 800px) {
.landing-page{
    height: auto;
    margin-bottom: 50px;
    background-image: none;     
}

.service-graphic-wrapper img{
    width: auto;
}
.navbar.scrolled {
    background-color: rgb(255, 255, 255) !important;
    }
.bg-light {
    background-color: white !important;
}
h1{
    font-size: 30px;
}
.title-wrapper{
text-align: center;
padding-left: 0px;
}
.header-graphic{
    padding-top: 60px;
    padding-bottom: 10px;
}

.graphic-wrapper img {
    width: 100%;
    padding-top: 20px;
}
hr{
    margin-bottom: 0px;
}
.services-wrapper{
    padding-top: 30px;
    padding-bottom: 0px;
}    
.cards {
    margin-left: 0px;
}
.client-mobile img{
    width: auto;
    max-width: 190px;
    max-height: 300px;
} 
.client-mobile-2nd {
    padding-top: 60px;
    margin-left: -100px;
}
.client-mobile {
    text-align: center;
}
.client{
    background-image: none;    
    height: auto;
    margin-top: 0px;
}
.client-description {
    text-align: center;
 padding-left: 0px;
}

.col-lg-6, .col-lg-3, .col-sm-12{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.navbar-light .navbar-nav .nav-link{
    color: #4e64fb !important;
}
.product-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
} 
.product-subtitle {
    color: #11acec;
    font-size: 30px;
    margin-bottom: -10px;
}
.product-description-text{
    padding: 0px 5px;
}
.left{
    text-align: center;
    float: none;
}
.icons {
     margin-top: 5px;
    width: auto;
    MARGIN-BOTTOM: 15px;
    height: 50px;
    margin-left: 0px;
}
}