body{
    font-family: 'Open Sans';
}
.background{
    background-image: url(content/background-image.png);
    background-repeat: no-repeat;
    background-position: right; 
height: 1200px; 
}
.container{
    padding: 0 !important;
}
li{
    padding-right: 15px;
    font-weight: bold;
}

.navbar.scrolled {
    background-color: #1970e2 !important;
  }